<div class="container page-content">
  <div class="pull-right">
    <%= image_tag "about-face.png" %>
  </div>

  <h1>Čo by ste o seriemato mali vedieť</h1>

  <p><i>Projekt seriemato!sk vznikol, aby pomáhal hľadať a tvoriť riešenia na bežné problémy bežných ľudí.</i></p>

  <p>Každý z nás má svoje problémy, ktoré ho trápia a sužujú. V rámci tohto projektu chceme zhromaždiť problémy na jednom mieste. To je prvý krok k nájdeniu ich riešenia. Následne pomôžeme vytvoriť tímy ľudí okolo problémov a prenesieme ich procesom hľadania riešenia.</p>

  <p><strong>Jednoducho chceme riešiť veci, ktoré nás trápia. A samých nás to nebaví.</strong></p>

  <div class="clearfix"></div>

  <h2>Ako to teda funguje</h2>

  <div class="pull-left">
    <%= image_tag "about-magnifier.gif" %>
  </div>

  <h3>1. niekde vznikol problém</h3>

  <p>
  <i>Problém je v skutočností skrytá príležitosť. Niekedy až veľmi dobre skrytá.</i>
  </p>

  <p>Je veľa ľudí, ktorí majú svoje problémy, no nemajú čas ich riešiť. Vedia ich dokonale pomenovať a popísať. Na druhej strane je iná skupina ľudí, ktorí by si našli čas aj chuť do niečoho “pichnúť”, no nemajú predstavu do čoho. Ak týchto ľudí spojíme, vznikne nám stroj na riešenie problémov. A o to nám ide!</p>

  <p><i>Dobre spracovaný problém sa môže premeniť na výborne naštartovanú firmu a v konečnom dôsledku sa pre svojho pôvodcu vyrieši.</i></p>

  <p class="text-highlight">
  Náš projekt dáva priestor tieto problémy odhaliť a hľadať v nich ukryté príležitosti.
  </p>

  <div class="clearfix"></div>
   
  <div class="pull-right">
    <%= image_tag "about-monitor.jpeg" %>
  </div>

  <h3>2. problém bol nájdený a pridaný na web</h3>

  <p><i>Prvý krok k veľkým riešenia je za nami. Na stránku niekto pridal problém, ktorý ho trápi.</i></p>

  <p>Ktokoľvek môže pridať na stránku problém. Skôr ako sa tam ale zobrazí, musí ho administrátor potvrdiť. Aj problémy na tomto webe majú svoj pravidlá. Nezobrazia sa napríklad rasovo orientované, náboženské či politické problémy. Viac o pridávaní problémov sa dočítate pravidlách používania (pripravuje sa). V terajšej beta verzii zobrazujeme problémy, ktoré sme dali dokopy my.</p>

  <p><i>Čím viac problémov sa stane verejnými, tým väčšia šanca, že niektorý z nich bude vyriešený.</i></p>

  <p class="text-highlight">Tento projekt Vám dáva možnosť povedať, čo Vás trápi a čo nie.</p>

  <div class="clearfix"></div>

  <div class="pull-left">
    <%= image_tag "about-checkbox.jpeg" %>
  </div>

  <h3>3. problém je fakt PROBLÉM</h3>

  <p>
  <i>Nie všetky problémy sú PROBLÉMY. To, čo trápi mnohých ľudí a mnohí ľudia by to chceli aj aktívne riešiť je SKUTOČNÝ PROBLÉM…</i>
  </p>

  <p>Na webe je mnoho problémov z rôznych oblastí. Jednoduchým hlasovacím tlačidlom “serie ma to” má každý možnosť poukázať na problémy, ktoré ho trápia. Hlasuje sa za všetky, ktoré vás trápia.
  Ak vás niektorý zaujal a chceli by ste byť v tíme, ktorý priloží ruku k dielu, kliknite na tlačidlo “chcem to riešiť” a dáme vám vedieť čo ďalej.</p>

  <p><i>Akonáhle problém trápi dostatok ľudí (kliknutia na “serie ma to”) a má dostatok potenciálnych riešiteľov (kliknutia na “chcem to riešiť”), má zmysel konať. Každý človek – či už čistý sťažovateľ, alebo čistý riešiteľ, alebo niečo medzi tým – má hodnotu a dôležitú úlohu!</i></p>

  <p class="text-highlight">Tento projekt Vám dáva možnosť rozhodnúť, čo sa bude aktívne riešiť!</p>

  <div class="clearfix"></div>

  <div class="pull-right">
    <%= image_tag "about-solution.jpeg" %>
  </div>

  <h3>4. problém riešime a riešite</h3>

  <p>
  <i>Spoločne sa pustíme do práce, ktorej výstupom budú jednoduché tipy, projekty a možno aj veľké aktivity, ktoré problém vyriešia!</i>
  </p>

  <p>Ktokoľvek môže pri probléme zanechať svoje krátke 140 znakové riešenie, TIP ako riešiť problém (v beta verzii nefunkčné). Zároveň pozývame ľudí, ktorý zaklikli “chcem to riešiť” na stretnutie, kde prostredníctvom nastaveného procesu a kreativity vytvoríme riešenia na konkrétny problém. Výstupom je niekoľko riešení, ktoré sú možno zárodkom úspešných projektov. Posúvame sa od problému k nápadom a k riešeniam. Vieme ako na to!</p>

  <p><i>Každý problém má svoje “ako na to”. Nechceme zostať len pri šomraní. Chceme reálne pomáhať definovať problémy a naštartovať ich riešenie. Ako sa vraví: “Viac hláv, viac kapusty.”</i></p>

  <p class="text-highlight">Spoločne nájdeme možné riešenia a pustíme sa do ich realizácie.</p>
</div>
